{% extends layoutName %}

{% block content %}


    <div class="a-overview__header">
        <p class="a-overview__title">Staking</p>

    </div>
    <div id="pageContent">
        <div class="a-overview__body col-md-12 row">

            <div class="col-md-6">Hello</div>
            <div class="col-md-6">World!</div>

        </div>
    </div>





{% endblock %}
